﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<body>
        <div id="root"></div>

        @section scripts{
            <script src="~/Scripts/react/dist/app.bundle.js"></script>
        }
</body>