﻿

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Customers</h3>

<body>
    <div id="customer"></div>

    @section scripts{
        <script src="~/Scripts/react/dist/customer.bundle.js"></script>
    }
</body>